doctype html
html
	head
		link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
		style.
			h2{
			text-indent: 15px;
			text-align: left;
			font-family: 'Lucida Console';
			font-style: oblique;
			font-size: 20px;
			color: #483D8B;
			}
	body
		nav
			.nav-wrapper.teal.lighten-2
				a.brand-logo.center(href='#!') Bulletin Board
				ul.left.hide-on-med-and-down
					li
						a(href='/home') Post!
					li
						a(href='/history') History
		h2 Thank you for your message!